@import url('https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgb(39, 38, 38);
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: : 20px;
    text-rendering: optimizelegibility;
}
nav ul li{
    display: inline-block;
    margin: 0 10px 0 0;
    float: right;
    padding: 10px;
}